@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body { 
    font-family: 'Sans', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.889);
    /*background-color: rgb(28, 24, 33);*/
    background-image: url("https://i.pinimg.com/originals/33/1e/31/331e31d369af02328c60b02a4532b24e.png" );
    
    position:fixed;
    width:100%;
    height:100%;
  }


h1 { 
    text-align: left;
    font-family: 'Sans',sans-serif;
    font-size:30px;
    color:rgb(255, 255, 255);


} 
h2 { 
    text-align: left;
    font-family: 'Sans',sans-serif;
    font-size:20px;
    color:rgb(255, 255, 255);


}
P {
    text-align: left;
    font-family: 'Sans',sans-serif;
    font-size:18px;
    color:rgb(255, 255, 255);
    
    
}
button{ 
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.081);
    font-family: 'Sans',sans-serif;
    font-size:20px;
}
table{ 
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Sans',sans-serif;
    font: size 20px;
}
.sugestao{ 
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Sans',sans-serif;
    font: size 20px;
    text-align: left;
}
.idade{ 
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Sans',sans-serif;
    font: size 20px;
}



